body{
    display: black;
    overflow-x: hidden;
}



.navbar-brand img{
    max-height: 50px;
}

.navbar-light{
    background-color: white;
}



.navbar-light .navbar-brand{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: blue !important;

}


.nav-link {
    color: blue !important;
  }



.nav-link:hover {
    color: red !important;
  }


nav ul li a{
    color: #a9a9a9;
    font-size: 22px;
    margin: auto 10px;
}

/* nav ul li a:hover{
    color: #ffffff ;
} */

section{
    padding-top: 50px;
    padding-bottom: 50px;
}

section h1{
    text-transform: uppercase;
    font-weight: 900;
    color: blue;
    text-align: left;
    margin-bottom: 20px;
}

section p{
    font-size: 16px;
    font-weight: 300;
}

button{
    max-width: 50%;
    border-radius: 50px !important;
}

#hero .col{
    justify-content: center;
    flex-direction: column;
    display: flex;

}

#hero .img-col{
    justify-content: flex-end;
    margin-top: 100px;
    width: 500px;
    height: auto;
}

#hero img{
    max-width: 100% !important;
    width: 100%;
}

#hero h1{
    margin-top: 100px;
}

#hero .card{
    box-shadow: 11px 7px 16px #f9f9f9;
    border: 0;
    text-align: center;
}

#hero .icon{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;

}

#projects .projects{
    margin-bottom: 50px;
}


#projects img{
    max-width: 100% !important;
    width: 100%;
}


#about-us img{
    max-width: 100% !important;
    width: 100%;
    height: auto;
    padding: 50px;
}

#about-us .img-col{
    justify-content: flex-start;
    width: 500px;
    height: auto;
}

#contact {
    text-align: center;
    background-color: blue;
    color: white;
  }
  #contact h1 {
    text-align: center;
    color: white;
  }